<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="products"  routerLinkActive="active" class="btn btn-dark">Home</a>
      </li>
      <li class="nav-item">
        <a href="showproducts" routerLinkActive="active" class="btn btn-dark">Products</a>
      </li>
      <li class="nav-item">
        <a href="addproduct" routerLinkActive="active" class="btn btn-dark">Add Product</a>
      </li>
      <li class="nav-item">
        <a href="editproduct" routerLinkActive="active" class="btn btn-dark">Edit Product</a>
      </li>
      <li class="nav-item">
        <a href="searchproduct" routerLinkActive="active" class="btn btn-dark">Search Product</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  routerLinkActive="active" class="btn btn-light" href="wishlist">Wishlist</a>&nbsp;
      </li>
      <a class="btn btn-outline-primary" role="button" href="profile">
        <i class="fa far fa-user" ></i>
      </a>
      &nbsp;&nbsp;
      <li class="nav-item">
        <a  type="button" (click)="signout()" class="btn btn-outline-danger" href="signin" >Sign Out</a>
      </li>
    </ul>

  </div>

</nav>
